* {
    margin: 0px;
    padding: 0px;
}

.logo-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(168, 83, 248);
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.logo-catalina {
    width: 20%;
    height: 20%;
    border-radius: 10px;
    margin: 10px;
    border: 3px solid white;
}

.titulouno{
    font-size: 30px;
    padding: 10px;
    background-color: rgb(221, 88, 221);
    text-align: center;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.texto-bienvenida {
    font-size: 20px;
    background-color: violet;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;

}
.section-eleccion {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: rgb(163, 91, 230);
    border-radius: 20px;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
}
.card {
    width: 400px;
    margin: 15px;   
}
.card-img-top {
    width: auto;
    height: 300px;
}
.container-fluid {
    background-color: rgb(169, 85, 248);
    border-radius: 20px;
    border: 2px solid rgb(102, 46, 102);
}
