* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url(images/fondo-colores.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    
}
.logo-catalina {
    width: 20%;
    height: 20%;
    border-radius: 10px;
    margin: 10px;
    border: 3px solid rgb(235, 234, 234);
}

.titulouno{
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 10px;
    background-color: rgb(221, 88, 221);
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.texto-bienvenida {
    font-size: 20px;
    background-color: violet;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;

}
.section-eleccion {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: rgb(219, 159, 224);
    border-radius: 20px;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
}
.card {
    width: 400px;
    padding: 10px;   
    margin: 15px;
}
.card-img-top {
    width: auto;
    height: 400px;
    border: 2px solid rgb(133, 30, 133);
}

.container-fluid {
    background-color: rgb(169, 85, 248);
    border-radius: 20px;
    border: 5px solid rgb(102, 46, 102);
}
.container-columns {
    margin: 20px;
}

ul {
    list-style: none;
}
li {
    font-size: 30px;
    font-weight: 200;
    color: rgb(20, 17, 22);
    background-color: pink;
    border-radius: 10px;
    border: 1px solid rgb(138, 97, 104);
}
h3 {
    color: rgb(153, 66, 146);
    font-size: 30px;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.redes-sociales {
    display: flex;
    justify-content: end;
    align-items: end;
    margin-right: 20px;
    position: fixed;
    bottom: 10px;
    right: 10px;

}
.estilo-redes {
    display: inline-block;
    text-decoration: none;
    background-color: antiquewhite;
    padding: 10px;
    margin: 5px ;
    border: 1px solid rgb(211, 125, 223);
    border-radius: 10px;
}
.carrito {
    margin-left: 20px;
    border-radius: 10px;
    border: 2px solid violet;
    padding: 5px;
    text-decoration: none;
    color: rgb(95, 7, 56);
    font-weight: 600;
}

#mensajeError{
    color: red;
} 

.form{
    margin: 10px;
    padding: 10px;
}

.carrito-page{
    text-align: center;
    font-size: 50px;
    color: rgb(129, 43, 122);
    
}
#mensajeparacarrito{
    margin-left: 20px;
    color: rgb(199, 59, 218);
}

.form1 {
    display: none;
}
.carritodecompras1 {
    display:none;
}
.mensajecarritonone {
    display: none;
}