* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../images/fondo-colores.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    
}
.logo-catalina {
    width: 40%;
    border-radius: 10px;
    margin: 10px;
    border: 3px solid rgb(235, 234, 234);
}

.titulouno{
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 10px;
    background-color: rgb(221, 88, 221);
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.texto-bienvenida {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(150, 94, 58);

}
p{
    font-size: 15px;
    font-weight: 600;
    margin-left: 20px;
    text-align: center;
}
.section-eleccion {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: rgb(219, 159, 224);
    border-radius: 20px;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
}
.card {
    width: 400px;
    padding: 10px;   
    margin: 15px;
}
.card-img-top {
    width: auto;
    height: 400px;
    border: 2px solid rgb(133, 30, 133);
}

.lista-estilos {
    font-size: 20px;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.letra-datos {
    text-align: start;
    color: rgb(37, 4, 68);
    font-size: 25px;
    background-color: bisque;
    display: inline-block;
    border-radius: 5px;
}
.precio-datos{
    color: rgb(165, 100, 165);
    font-size: 20px;
    font-weight: 800;
    text-align: start;
    
}

.imagen-datos{
    width: 300px;
    height: 300px;
    border: 2px solid rgb(252, 148, 169);
    border-radius: 5px;
    margin-bottom: 50px;
}
.estilo-boton {
    background-color: darksalmon;
    font-size: 18px;
    color: rgb(32, 26, 26);
    
}

.container-fluid {
    background-color: rgb(169, 85, 248);
    border-radius: 20px;
    border: 5px solid rgb(102, 46, 102);
}
.container-columns {
    margin: 20px;
}

ul {
    list-style: none;
}
li {
    display: inline-block;
    font-size: 30px;
    font-weight: 200;
    color: rgb(20, 17, 22);
    background-color: pink;
    border-radius: 10px;
    border: 1px solid rgb(138, 97, 104);
    padding-left: 20px;
    padding-right: 20px;
}
h3 {
    color: rgb(153, 66, 146);
    font-size: 30px;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
h4{
    margin-left: 40px;
}

.redes-sociales {
    display: flex;
    justify-content: end;
    align-items: end;
    margin-right: 20px;
    position: fixed;
    bottom: 10px;
    right: 10px;

}
.estilo-redes {
    display: inline-block;
    text-decoration: none;
    background-color: antiquewhite;
    padding: 10px;
    margin: 5px ;
    border: 1px solid rgb(211, 125, 223);
    border-radius: 10px;
}
.carrito {
    margin-left: 20px;
    border-radius: 10px;
    border: 2px solid violet;
    padding: 5px;
    text-decoration: none;
    color: rgb(95, 7, 56);
    font-weight: 600;
}
.carrito-titulo{
    padding: 20px;
}

.carrito-page{
    margin-bottom: 20px;
}

#mensajeError{
    color: red;
} 

.label-style{
    font-size: 20px;
    font-weight: 500;
    color: rgb(114, 65, 112);
    
}
.input-style{
    color: rgb(136, 39, 112);
    margin-right: 30px;
}
.h4-register{
    color: rgb(131, 86, 28);
    text-align: center;
    margin-bottom: 20px;
}
.btn-register{
    display: inline-block;
    color: rgb(36, 11, 11);
    text-decoration: none;
    margin-top: 10px;
    margin-left: 20px;
    padding: 5px;
    border: 1px solid violet;
    border-radius: 5px;
    background-color: bisque;
}
.form{
    display: flexbox;
    justify-content: space-around;
    border: 1px solid violet;
    background-color: bisque;
    padding: 40px;
}
.totalcarrito-conteiner{
    margin: 50px;
}

.cart-conteiner{
    display: flex;
    justify-content: center;
    margin-right: 20px;
}
.carrito-titulo{
    text-align: center;
    font-size: 50px;
    color: rgb(129, 43, 122);
    
}
.carrito-page{
    text-align: center;
    color: chocolate;
    font-weight: 300;
}
.precio-total {
    color: brown;
    font-size: 30px;
    font-weight: 500;
}

.estilo-lista-carrito{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: rgb(14, 12, 10);
}

.form1 {
    display: none;
}
.carritodecompras1 {
    display:none;
}
.mensajecarritonone {
    display: none;
}

.btn-comprar {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 30px;
    background-color: rgb(248, 156, 233);
    color: rgb(10, 10, 10);
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px;
}